// Fuentes
$fuente-principal: 'Outfit', sans-serif;

// Tamaño de Media Queries
$fold: 281px;
$telefono: 481px;
$tablet: 769px;
$desktop: 1025px;
$xl_desktop: 1201px;

// Colores
$azul: #007df4;
$secundario: #00c8c2;

$negro: #1a1b15;
$blanco: #FFFFFF;
$gris: #64748B;
$gris-claro: #F8FAFC;
$gris-oscuro: #1E293B;

$rojo: rgb(169, 0, 0);
$verde: #02db02;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900