@use 'base/mixins' as m;
@use 'base/variables' as v;

.listado-entrenadores {
    @include m.reset-lista;
    @include m.grid(1, 1rem);

    &__entrenador{
        color: v.$azul;
        border: 1px solid v.$azul;
        padding: 1rem;
        border-radius: 1rem;
        text-align: center;

        &:hover{
            cursor: pointer;
        }
        &--seleccionado{
            @extend .listado-entrenadores__entrenador;
            background-color: v.$azul;
            color: v.$blanco;
        }
    }
}